[Unit]
Description=Aria2 Service
After=network.target

[Service]
ExecStartPre=/usr/bin/touch %h/.aria2/aria2-session.lock
ExecStart=/usr/bin/aria2c --rpc-secret={{ secret_token }} --conf-path=%h/.aria2/aria2.conf

[Install]
WantedBy=default.target
